<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div class="scrollable">
				<h1>About</h1>

				<p>Blairpath is a web application that provides maps and route calculation for the campus of <a href="https://mbhs.edu/">Montgomery Blair High School</a>.</p>

				<section style="display: table; width: 100%">
					<div class="left">
						<h3>Team</h3>
						<p>Blairpath was conceived and developed by <a href="https://github.com/spiralsim"><b>Jeffrey Tong</b></a> (Blair Class of 2022).</p>
					</div>
					<div class="right">
						<h3>Statistics</h3>
						<ul>
							<li><b><%-verticesArray.filter(v => v.section != "border" && v.section != "path").length%></b> places</li>
							<li><b><%-new Set(verticesArray.map(v => v.fxy.split(',')[0])).size%></b> floors</li>
							<li><b><%-verticesArray.length%></b> vertices</li>
							<li><b><%-diskData.edges.length%></b> edges</li>
						</ul>
					</div>
				</section>

				<h3>History</h3>
				<p><b>1998</b>: Construction of the present-day Blair campus was completed by its designer SHW Group, Inc. Architects + Engineers. They wrote about their design <a href="https://web.archive.org/web/20200222231349/http://www.designshare.com/HighSchoolLibrary/HSBlair/Blair2_Prog.htm">here</a>, including design considerations and statistics. They also shared their floor plans, which Blairpath's maps are based on: <a href="https://web.archive.org/web/20120205151339im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/BlairSite.jpg">Site</a>, <a href="https://web.archive.org/web/20160505145914im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl1.jpg">Floor 1</a>, <a href="https://web.archive.org/web/20160505225805im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl2.gif">Floor 2</a>, <a href="https://web.archive.org/web/20120205151407im_/http://www.designshare.com/HighSchoolLibrary/HSBlair/blairpl3.gif">Floor 3</a>.</p>
				<p><b>2009</b>: <a href="https://blairbash.org/1227">Blairbash Quote 1227</a>, the first known reference to the 4th floor, was published. It became a running joke at Blair.</p>
				<p><b>2019</b>: Jeffrey developed Blairpath as a project for a Blair CS course. Some branding was inspired by <a href="https://blairbash.org">Blairbash</a>. <a href="https://github.com/generalpoxter">Jason Liu</a> (also Blair class of 2022) designed the 4th floor.</p>
				<p><b>2021</b>: Blairpath started renting the domain blairpath.org to host on. Blair teacher Mr. Schwartz showed his 9th grade students it to help them get around.</li>

				<h3>Technical</h3>
				<p>Blairpath is open-source on GitHub at <a href="https://github.com/spiralsim/blairpath">spiralsim / <b>blairpath</b></a>.</p>
			</div>
		</section>
	</body>
</html>