<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div>
				<h1>About</h1>

				<div class="banner red">
					<p><b>Disclaimer:</b> Blairpath is a hobby project. We are not officially associated with Montgomery Blair High School (we wish the Webmaster would let us be, though. 😔)</p>
				</div>

				<section style="display: table; table-layout: fixed; width: 100%">
					<div style="display: table-cell">
						<h3>Team</h3>
						<ul>
							<li><b><a href="https://github.com/spiralsim">Jeffrey Tong</a>:</b> Founder and Lead Developer</li>
							<li><b><a href="https://github.com/GeneralPoxter">Jason Liu</a>:</b> Designer of 4th Floor</li>
						</ul>
					</div>
					<div style="display: table-cell">
						<h3>Database Stats</h3>
						<p>We added all of these by hand—we'd really appreciate having more volunteers!</p>
						<ul>
							<li><b><%-data.rooms.map(floor => Object.values(floor)).flat(2).length%></b> places (rooms, courtyards, landmarks, etc.)</li>
							<li><b><%-data.links.length%></b> links (hallways, stairwells, and elevators)</li>
							<li><b><%-data.nodes.length%></b> nodes (endpoints of links)</li>
						</ul>
					</div>
				</section>

				<h3>History</h3>
				<p>On October 21, 2019, Jeffrey, then a Blair sophmore, started working on Blairpath as an open project for the Blair Magnet program's Algorithms and Data Structures B (ADSB) course. The branding was created as a parody of <a href="https://blairbash.org">Blairbash</a>, and the website was initially developed and hosted on <a href="https://replit.com">Replit</a>.</p>

				<p>On April 8, 2021, Blairpath started being hosted at its own domain, blairpath.org, through <a href="https://heroku.com">Heroku</a>.</li>

				<h3>Contributing</h3>
				<p>Being <a href="https://en.wikipedia.org/wiki/Montgomery_Blair_High_School">the most populous school in the state of Maryland</a>, mapping out the entire campus is a large task. Contributions of any kind, including new maps, measurements, labels, or categorizations, as well as contributions to the source code, are welcome.</p>
				<p>Blairpath is <a href="https://github.com/jwt4517/blairpath">open-source on GitHub</a>.</p>
				<p>To learn how to make cartographic contributions through the website's editing system, read the <a href="/tutorial">tutorial</a>.</p>
			</div>
		</section>
	</body>
</html>