<!DOCTYPE html>
<html>
	<head>
		<%-include("../partials/header.ejs")%>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>
	<body>
		<%-include("../partials/menu.ejs")%>
		<section class="main">
			<div class="left">
				<h1>Welcome!</h1>

				<p><b>Welcome to <i>Blairpath.org</i>!</b> This is a website compiling cartographic data and navigation utilities pertaining to Montgomery Blair High School's campus. Currently, the database contains a total of <%-data.rooms.map(floor => Object.keys(floor).map(s => floor[s])).flat(2).length%> rooms, <%-data.links.length%> hallways and stairwells, and <%-data.nodes.length%> intersections.</p>

				<p>More information can be found on the <a href="/about">about</a> page.</p>

				<div class="banner red">
					<p><b>Please note the following:</b> Blairpath is not officially associated with Montgomery Blair High School. Cartographic data on this site have no implicit or explicit claim of accuracy; some information is unverified.</p>
				</div>
			</div>

			<div class="right">
				<h1>News</h1>
				<div class="banner gray">
					<p style="text-align: left">
						<b>May 7, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<p>A tutorial page has been added.</p>
				</div>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Apr 17, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<p>Blairpath now has its own official domain, <a href="blairpath.org">blairpath.org</a>.</p>
				</div>
				<div class="banner gray">
					<p style="text-align: left">
						<b>Mar 28, 2021</b>
						<span style="float: right">Jeffrey Tong</span>
					</p>
					<p>Blairpath's source is now published on GitHub.</p>
				</div>
				<a href="/news">View all</a>	
			</div>
		</section>
	</body>
</html>